/* .main-div {
	display: flex;
} */
.minor-div {
	margin-top: 150px;
	/* display: flex; */
}
.price-div {
	border-style: solid;
	border-width: 5px;
	border-color: antiquewhite;
}
.products-div {
	width: 80%;
	cursor: pointer;
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 5px;
	grid-auto-flow: flex;
}
