.nav-div1,
.nav-div2 {
	display: flex;
}

.form {
	margin-left: 50px;
}

.navBrand {
	margin-right: 50px;
}
.navItem {
	margin-left: 50px;
}

.accountIcon-span {
	font-size: large;
	padding-left: 2px;
}
