/* home_section1 begin */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap");

.home {
    font-family: 'Exo 2', sans-serif;
}

.home_section1 {
    width: 100%;
    height: 700px;
    background-image: url('./assets/athle.jpg');
}

.section1_content1 {
    position: absolute;
    top: 100px;
    font-size: 30px;
    margin-left: 25%;
    display: block;
    color: cornsilk;
}

/* Links begin */

.content1_links {
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    margin-left: 33%;
    margin-top: 10px;
}

.content1_link1 {
    color: lightblue;
    text-decoration: none;
    margin: 5px 15px 5px 0;
}

.content1_link2 {
    color: lightblue;
    text-decoration: none;
    margin: 5px 0 5px 15px;
}

.content1_link1::after {
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;   
}

.content1_link1:hover::after {
    width: 100%;
    transition: width .3s;
}

.content1_link2::after {
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    /* transition: width .3s;    */
}

.content1_link2:hover::after {
    width: 100%;
    transition: width .3s;
}

/* Links end */

/* home_section1 end */

/* home_section2 begin */
.home_section2 {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    background-color:black;
    opacity: 0.8;
}

.product_and_gallery {
    display: flex;
    
}

.gallery {
    margin: 20px 50px 10px 10px;
}

.product {
    margin: 20px 50px 10px 10px;
    width: 50%;
    height: 40%;
    background-color: white;
}

.product_content {
    padding: 20px;
}

.perServing {
    display: flex;
    margin: 10px 5px 10px 0px;
    font-size: 15px;
    background-color: rgb(32, 32, 32);
    color: whitesmoke;
    height: 80px;
}

.span_protein,
.span_bcaa,
.span_carb {
    margin: 5px 5px 5px 10px;
    display: block;
}

.span_protein_gram,
.span_bcaa_gram,
.span_carb_gram {
    font-size: 40px;
    font-weight: bold;
    margin: 5px 5px 5px 5px;
}

.weight {
    font-size: 30px;
    font-weight: bold;
}
.price {
    margin: 10px 5px 10px 0px;
    display: block;
    font-size: 50px;
}

.product_buttons {
    display: flex;
}

.section2_content2_tags {
    display: flex;
}

.section2_content2_overview_tag {
    border: none;
    margin-left: 5%;
    background-color: rgba(128, 128, 128, 0.548);
    font-size: 20px;
    padding: 20px;
}

/* .section2_content2_overview_tag:visited {
    background-color: white;
} */
.section2_content2_overview_tag:focus {
    border-top: red 5px solid;
    outline: none;
    background-color: white;
    transition: .3s;
}


.section2_content2_fact_tag {
    border: none;
    background-color: rgba(128, 128, 128, 0.548);
    font-size: 20px;
    padding: 20px;
}

.section2_content2_fact_tag:focus {
    border-top: red 5px solid;
    outline: none;
    background-color: white;
    transition: .3s;
}

.section2_content2_overview_tag:hover,
.section2_content2_fact_tag:hover {
    cursor: pointer;
}

.section2_content2_overview {
    background-color: rgb(228, 224, 224);
    width: 84%;
    height: 80%;
    margin-left: 5%;
    padding: 20px;
}


/* home_section2 end */




