.information-div {
	width: 100%;
	height: 200px;
	background-color: rgba(27, 25, 25, 0.884);
	display: flex;
}

.service-div {
	width: 200px;
	flex-direction: column;
	margin: 10px 50px 10px 150px;
}
.about-div {
	width: 200px;
	flex-direction: column;
	margin: 10px 50px 10px 50px;
}
.socialMedia-div {
	width: 200px;
	flex-direction: column;
	margin: 10px 150px 10px 50px;
}

.item {
	margin: 5px;
	text-decoration: none;
	color: rgb(212, 206, 206);
	display: flex;
}
